<template>
<div class="container-fluid p-0">
    <div class="card mt-5">
        <div class="card-header">
            <h3 class="mb-0">List of users</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Building</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">Postcode</th>
                        <th scope="col">State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.message">
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.dob }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.building }}</td>
                        <td>{{ user.street }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.state }}</td>
                        <td>{{ user.postcode }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</template>

<script>
import UserService from '../services/user.service';

export default {
    name: 'User',
    data() {
        return {
            content: {},
            users: {}
        };
    },
    mounted() {
        UserService.getUserBoard().then(
            response => {
                this.users = response.data;
            },
            error => {
                this.content =
                    (error.response && error.response.data) ||
                    error.message ||
                    error.toString();
            }
        );
    }
};
</script>
