<template>
<div class="container">
    <form name="form" @submit.prevent="handleEditProfile">
        <header class="jumbotron">
            <h3>
                <strong>{{ profile.username }}</strong> Profile
            </h3>
            <hr class="my-4" />
            <div v-if="success" class="alert alert-success" role="alert">{{success}}</div>
            <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
            <p class="lead">
                <button class="btn btn-dark btn-md float-right" :disabled="loading">
                    <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                    <span>Save</span>
                </button>
            </p>
        </header>
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Edit profile</h3>
            </div>
            <div class="card-body">

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Username</label>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input readonly v-model="profile.username" v-validate="'required|max:50'" class="form-control" name="username" />
                            <div v-if="errors.has('username')" class="alert alert-danger" role="alert">Username is required!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Email</label>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input v-model="profile.email" v-validate="'required|email|max:50'" type="email" class="form-control" name="email" />
                            <div v-if="errors.has('email')" class="alert alert-danger" role="alert">Email is required!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">First Name</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.first_name" v-validate="'required|max:50'" class="form-control" name="first_name" />
                            <div v-if="errors.has('first_name')" class="alert alert-danger" role="alert">First name is required!</div>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label form-control-label">Last Name</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.last_name" v-validate="'required|max:50'" class="form-control" name="last_name" />
                            <div v-if="errors.has('last_name')" class="alert alert-danger" role="alert">Last name is required!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">DOB</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="date" v-model="profile.dob" v-validate="'required|max:50'" class="form-control" name="dob" />
                            <div v-if="errors.has('dob')" class="alert alert-danger" role="alert">DOB is required!</div>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label form-control-label">Phone Number</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.phone" v-validate="'required|max:50'" class="form-control" name="phone" />
                            <div v-if="errors.has('phone')" class="alert alert-danger" role="alert">Phone is required!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">Building Number</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.building" v-validate="'required|max:50'" class="form-control" name="building" />
                            <div v-if="errors.has('building')" class="alert alert-danger" role="alert">Building is required!</div>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label form-control-label">Street Name</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.street" v-validate="'required|max:50'" class="form-control" name="street" />
                            <div v-if="errors.has('street')" class="alert alert-danger" role="alert">Street is required!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">City</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.city" v-validate="'required|max:50'" class="form-control" name="city" />
                            <div v-if="errors.has('city')" class="alert alert-danger" role="alert">City is required!</div>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label form-control-label">Postcode</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.postcode" v-validate="'required|max:50'" class="form-control" name="postcode" />
                            <div v-if="errors.has('postcode')" class="alert alert-danger" role="alert">Postcode is required!</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label form-control-label">State</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input v-model="profile.state" v-validate="'required|max:50'" class="form-control" name="state" />
                            <div v-if="errors.has('state')" class="alert alert-danger" role="alert">State is required!</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</template>

<script>
import UserService from "../services/user.service";
export default {
    name: "EditProfile",
    data() {
        return {
            profile: {},
            submitted: false,
            loading: false,
            success: '',
            message: '',
        };
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        },
        // content() {}
    },
    mounted() {
        if (!this.currentUser) {
            this.$router.push("/login");
        } else {
            UserService.getProfile(this.currentUser.username).then(
                (response) => {
                    this.profile = response.data;
                    console.log(this.profile);
                },
                (error) => {
                    this.content =
                        (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
                }
            );
        }
    },
    methods: {
        handleEditProfile() {
            this.loading = true;
            this.$validator.validateAll().then((isValid) => {
                if (!isValid) {
                    this.loading = false;
                    return;
                }
                this.$store.dispatch("profile/saveProfile", this.profile).then(
                    () => {
                        this.loading = false;
                        this.success = "Profile updated successfully!"
                    },
                    (error) => {
                        this.loading = false;
                        this.message =
                            (error.response && error.response.data) ||
                            error.message ||
                            error.toString();
                    }
                );
            });
        },
    },
};
</script>
